body { background: #6490bc; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 32px; display: flex; }
.block-cart-0 { color: #fe6d34; font-size: 15px; margin-bottom: 5px; }
.block-uploader-1 { color: #909022; font-size: 17px; margin-bottom: 5px; }
.block-database-2 { color: #5642a1; font-size: 14px; margin-bottom: 5px; }
.block-payment-3 { color: #12aed2; font-size: 17px; margin-bottom: 5px; }
.block-helper-4 { color: #c0a27f; font-size: 18px; margin-bottom: 5px; }